{% extends 'base.html' %}

{% block content %}
<div class="container mt-3">
    <h4>Update {{ student.sname}}'s Record</h4>
    <hr>
    <form action="/update/{{student.id}}" method="POST">
        {% csrf_token %}    
        <div class="form-group">
            <label for="">ID</label>
            <input name="sid" type="text" value="{{student.sid}}" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Name</label>
            <input name="sname" type="text" value="{{student.sname}}" class="form-control">
        </div>
        <div class="form-group">
            <label for="">Contact</label>
            <input name="scontact" type="text" value="{{student.scontact}}" class="form-control">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update Record</button>
            <a href="{% url 'show' %}" class="btn btn-info">Show Details</a>
        </div>
    </form>
</div>
{% endblock content %}